<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoDash template</title>
    <link rel="stylesheet" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
</head>
<body>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.js"></script>

    <script type="text/template" id="template">
    <div class="wrapper">
    <h1><%-name%></h1>
    <img src="img/avatar.jpg" alt="аватарка">
    <h2><%-job%></h2>
    <div class="horizontal-line"></div>
    <h3><%-titles[i++]%></h3>
        </ul>
        <% why.forEach(function(causes) { %>
        <li><%-causes%></li>
        <% }); %>
        </ul>
    <div class="horizontal-line"></div>
    <h3><%-titles[i++]%></h3>
    <p class="phone"><%-phone%></p>
    <div class="horizontal-line"></div>
    <h3><%-titles[i++]%></h3>
    <div class="social">
        <% socials.forEach(function(social) { %>
        <a href="https://www.<%-social%>.com" target="_blank"><%-social%></a>
        <% }); %>
        </div>
    <div class="horizontal-line"></div>
    <h3><%-titles[i++]%></h3>
    <p class="feedback"><%-feedback%></p>
        </div>
    </script>
    <script src="js/script.js"></script>

</body>
</html>
